@page "/like-profile/{LoggedInUserId:int}"
@inject IDatingAppService DatingAppService
@inject NavigationManager Navigation
@using DatingApp.Entities




<h1>All Profiles</h1>
<br />

<div>
    <label><input type="radio" name="genderFilter" value="Male" @onchange="UpdateGenderFilter" /> Male</label>
    <label><input type="radio" name="genderFilter" value="Female" @onchange="UpdateGenderFilter" /> Female</label>
</div>

<table class="table">
    <thead>
        <tr>
            <td>UserID</td>
            <td>FullName</td>
            <td>Birthday</td>
            <td>Gender</td>
            <td>City</td>
            <td>PostalCode</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var profile in filteredProfiles)
        {
            <tr>
                <td>@profile.UserID</td>
                <td>@profile.FullName</td>
                <td>@profile.Birthday</td>
                <td>@profile.Gender</td>
                <td>@profile.City</td>
                <td>@profile.PostalCode</td>
                <td>
                    <button class="btn btn-primary" @onclick="() => LikeProfileAsync(profile, LoggedInUserId)">@(profile.IsLiked ? "Liked" : "Like")</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-primary" @onclick="CheckMatches">Check Matches</button>


@code {
    private List<Profile> profiles;
    private List<Profile> filteredProfiles = new List<Profile>();
    private string? selectedGender;


    [Parameter] public int LoggedInUserId { get; set; }


    protected override async Task OnInitializedAsync()
    {

        profiles = DatingAppService.GetProfiles(); // Make sure to await the method call
        await UpdateFilteredProfiles();
    }

    private async Task UpdateFilteredProfiles()
    {
        if (!string.IsNullOrEmpty(selectedGender))
        {
            filteredProfiles = await DatingAppService.GetProfilesByGender(selectedGender);
        }
        else
        {
            filteredProfiles = profiles;
        }
    }

    private async Task UpdateGenderFilter(ChangeEventArgs e)
    {
        selectedGender = e.Value.ToString();
        await UpdateFilteredProfiles();
    }

    private async Task LikeProfileAsync(Profile profile, int likerUserId)
    {
        // Assuming you have an AddLikeAsync method in IDatingAppService
        bool success = await DatingAppService.AddLikeAsync(likerUserId, profile.UserID);

        if (success)
        {
            profile.IsLiked = true; // Assuming you have an IsLiked property in the Profile class
        }
    }

    private void CheckMatches()
    {
        Navigation.NavigateTo("/check-for-match/" + LoggedInUserId);
    }

}
