@page "/like-profile"
@inject IDatingAppService DatingAppService
@using DatingApp.Data 
@using DatingApp.Services 


<h1>Like Profile</h1>
<br />


<table class="table">
    <thead>
        <tr>
            <td>UserID</td>
            <td>FullName</td>
            <td>Birthday</td>
            <td>Gender</td>
            <td>City</td>
            <td>PostalCode</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var Profile in Profiles)
        {
            <tr>
                <td>@Profile.UserID</td>
                <td>@Profile.FullName</td>
                <td>@Profile.Birthday</td>
                <td>@Profile.Gender</td>
                <td>@Profile.City</td>
                <td>@Profile.PostalCode</td>
                <td>
                    <a href="editemployee/@Profile.Id">
                        Edit    
                    </a>
                </td>
                <td>
                    <button class="btn btn-primary" @onclick = "@(e => OnDelete(employee.Id))">Like</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<User> Users = new List<User>();
    private string SelectedUsername { get; set; }
    private UserWithProfile UserProfile { get; set; }
    private UserWithProfile CurrentUserProfile { get; set; }
    private bool? Liked { get; set; }
    private string LikeMessage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Users = await DatingAppService.GetUsersAsync();
        CurrentUserProfile = await DatingAppService.GetLoggedInUserAsync();
    }

    private async Task LikeProfileAsync()
    {
        try
        {
            int likerUserId = CurrentUserProfile.UserID;
            UserWithProfile likedUser = await DatingAppService.GetUserWithProfileByUsernameAsync(SelectedUsername);

            bool success = await DatingAppService.AddLikeAsync(likerUserId, likedUser.UserID);

            if (success)
            {
                Liked = true;
                LikeMessage = "You liked the profile!";
            }
            else
            {
                Liked = false;
                LikeMessage = "Liking profile failed.";
            }
        }
        catch (Exception ex)
        {
            Liked = false;
            LikeMessage = ex.Message;
        }
    }
}
