@page "/like-profile"
@inject IDatingAppService DatingAppService
@using DatingApp.Data 
@using DatingApp.Services 
@using DatingApp.Entities;


<h1>All Profiles</h1>
<br />


<table class="table">
    <thead>
        <tr>
            <td>UserID</td>
            <td>FullName</td>
            <td>Birthday</td>
            <td>Gender</td>
            <td>City</td>
            <td>PostalCode</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var profile in profiles)
        {
            <tr>
                <td>@profile.UserID</td>
                <td>@profile.FullName</td>
                <td>@profile.Birthday</td>
                <td>@profile.Gender</td>
                <td>@profile.City</td>
                <td>@profile.PostalCode</td>
               
                <td>
                    <button class="btn btn-primary" @*@onclick = ""*@>Like</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {


    private List<Profile> profiles;

    protected override void OnInitialized()
    {
        profiles = DatingAppService.GetProfiles();
    }

  
    
}